@import "@angular/material/prebuilt-themes/indigo-pink.css";

.matcardlogin {
  width:33%;
  height:33%;
  margin-top:10%;
  margin-left:33%;
}

.inputfield {
  display:block;
}

.loginbutton {
  position:relative;
  margin-left: 38%;
  margin-bottom:10%;
}

.registerTitle {
 margin-left: 180%;
}
